img {
    display: block;
    margin: auto;
}

.messages {
    color: white;
    text-align: center;
    margin-bottom: 0.4em;
}

.forms {
    width: 80%;
    margin: auto;
}

.forms > h1 {
    margin-bottom: 0.4em;
    text-align: center;
    font-size: 3.5em;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    padding-left: 1em;
    margin: 0 1em 1em 1em;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 2px solid #01572F;
    border-radius: 2em;
    outline: none;

    font-size: 1em;
    line-height: 2.5em;
}

@media (max-width: 1199px){
    .forms {
        width: 100%;
    }

    .forms > h1 {
        font-size: 2.5em;
    }
}

@media (max-width: 767px) {
    .forms > h1 {
        font-size: 2em;
    }
}