img {
    display: block;
    margin: auto;
}

.messages {
    color: white;
    text-align: center;
    margin-bottom: 0.4em;
}

.forms {
    width: 80%;
    margin: auto;
}

.forms > h1 {
    margin-bottom: 0.4em;
    text-align: center;
    font-size: 3.5em;
    color: white;
}

@media (max-width: 1199px){
    .forms {
        width: 100%;
    }

    .forms > h1 {
        font-size: 2.5em;
    }
}

@media (max-width: 767px) {
    .forms > h1 {
        font-size: 2em;
    }
}