.title {
    margin: 1.2em 0 0.5em;
    font-size: 4em;
    color: white;
}

.form-group {
    text-align: left;
    margin-bottom: 1.6em;
}

.form-group > input{
    border-radius: 12px !important;
    border: none !important;
    padding: 1.4em;
}

.form-group > input:focus {
    border: none !important;
    box-shadow: 0 0 0 .2rem rgb(5, 66, 21) !important;
}

button {
    border-radius: 12px !important;
    border: none !important;
    background: #22914B !important;
}

button:hover {
    background-color: #1a7c45 !important;
}

button:focus {
    border-color: #03200A !important;
    box-shadow: 0 0 0 .2rem rgb(5, 66, 21) !important;
}

button.login {
    padding: 0.6em 4em !important;
    margin: 0.4em 0 1.6em 0;
}

.register-group > p {
    font-size: 0.9em;
    margin-bottom: 0.3em;
    opacity: 0.5;
}

button.register {
    font-size: 0.9em;
    padding: 0.3em 1.6em !important;
}