body {
    color: white;
}

.container {
    position: relative;
}

.profile-avatar {
    text-align: center;
    padding-top: 0.2rem;
    padding-bottom: 0.8rem;
}

.profile-avatar > img {
    box-shadow: 0 0 5px rgba(0,29,41,.5)
}

.profile-info {
    text-align: center;
}

.profile-name {
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 0.1em;
}

.profile-stats {
    margin-bottom: 0.6em;
}

.profile-stats > .col > p {
    margin-bottom: 0.1em;
}

.profile-desc {
    margin: 0 auto;
    width: 50%
}

.collection {
    padding-top: 0.8em;
}

.collection-item {
    height: 11rem;
    background: #036a4d;
    box-shadow: 0 0 5px rgba(0,29,41,.3);
    padding: 0 1em 0.8em 1em;
    border-radius: 40px;
    outline: none;
    border: none;

    text-align: center;
    font-weight: 400;
    color: inherit;
}

button.collection-item:hover {
    filter: brightness(0.9);
}

button.collection-item:focus {
    outline: none;
}

.collection-item-wrapper {
    margin-bottom: 2em;
}

.collection-item-name {
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.05em;
}

.add-tea-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    visibility: hidden;

    width:30%;
    background-color: white;
    border-radius: 1em;
    z-index: 2;

    color: black;
}

.cancel-button {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    border-radius: 100%;
}

.page-link {
    background-color: #036a4d;
    color: white;
    border-color: transparent;
}

.page-link:focus {
    box-shadow: 0 0 0 .2rem rgba(2, 72, 51, 0.25)
}

.page-link:hover {
    color: #024833;
}

.page-item.disabled > .page-link{
    background-color: #024833;
    border-color: transparent;
}

@media (max-width: 991px) {
    .collection-item > img {
        width: 70%;
    }

    .add-tea-form{
        width:50%;
    }
}

@media (max-width: 767px) {
    .profile-desc {
        width: 90%;
    }

    .add-tea-form{
        width:70%;
    }
}

@media (max-width: 575px) {
    .collection-item > img {
        width: 100%;
    }

    .add-tea-form{
        width:90%;
    }
}


