body {
    color: white;
}

form {
    margin-top: 4em;
}

label {
    margin-bottom: 0.3em;
    font-size: 0.9em;
}


.form-control {
    color: black;
    border-radius: 1em;
}

@media (max-width: 768px) {
    .form-group {
        width: 70%;
        margin: 1em auto;
    }
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
}

.form-control:focus {
    border-color: #cccccc;
    box-shadow: none;
}

.register-button {
    margin-top: 3em;
    width: 40%;
}