html {
    background: linear-gradient(180deg, #093220, #0d5137) no-repeat fixed;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
    background-color: transparent;
    color: white;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-rounded {
    margin: 0 1em 1em 1em;
    color: white;
    background: #017840 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 2em;
    border: none;

    font-size: 1em;
    line-height: 2.5em;
}

.button-rounded:hover {
    background-color: #1a7c45;
    color: white;
    text-decoration: none;
}

.button-rounded:focus {
    background-color: #01572F;
    outline: none;
}

.fa-shopping-bag {
    vertical-align: middle;
    font-size: 20px;
}

.navbar {
    font-size: 1.1em;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.navbar-brand {
    font-size: 1.4em;
}

.navbar-secondary {
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar-primary {
    padding: .3rem 0;
    width: 100%;
    background: #239159 no-repeat;
}

.navbar-primary > .navbar-expand .navbar-nav .nav-link {
    color: white;
}

.heading {
    margin-top: 0.5em;
}

@media (max-width: 767px) {
    .container {
        max-width: 90%;
    }
    .nav-item {
        font-size: 0.8em !important;
    }
    .navbar-brand {
        font-size: 1.2em;
    }
    .navbar-secondary {
        padding-top: .4em;
        padding-bottom: .4em;
    }
}