html {
    background: linear-gradient(35deg, #03200A, #22914B) no-repeat fixed;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
    background-color: transparent;
}

.container {
    height: inherit;
    max-width: unset;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;

}