html {
    background: linear-gradient(35deg, #03200A, #22914B) no-repeat fixed;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
    background-color: transparent;
}

.container {
    height: inherit;
    max-width: unset;
    margin: 0;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


button {
    margin: 0 1em 1em 1em;
    color: white;
    background: #017840 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 2em;
    border: none;

    font-size: 1em;
    line-height: 2.5em;
}

button:hover {
    background-color: #1a7c45;
    color: white;
    text-decoration: none;
}

button:focus {
    background-color: #01572F;
    outline: none;
}